*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilda' ;
    
     font-family: 'Pacifico';*/
} 
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    font-family: 'Gilda' ;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    
}
#navpart1{
    font-family: 'Gilda' ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
#nav h3{
    font-family: 'Gilda' ;
    font: 17px;
    border: 1.5px solid #000;
    border-radius: 15px;
    font-weight: 500;
    padding: 5px 12px;

}
#nav i{
    font-family: 'Gilda' ;
    font: 16px;
    border: 1.5px solid #000;
    border-radius: 15px;
    font-weight: 500;
    padding: 5px 16px;

}
#nav h1{
    font-family: 'Dancing Script';
    font: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
#nav button{
    font-family: 'Gilda' ;
     font: 17px;
    border: 1.5px solid #000;
    border-radius: 15px;
    padding: 7px 15px;
    /* background-color: #fff; */
}
#button2{
    font-family: 'Gilda' ;
    border: none;
    color: white;
    background-color: rgb(243, 122, 23);
}
#main>h1{
    font-family: 'Gilda' ;
    font-size: 135px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
}
img{
    height: 380px;
    width: 280px;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50% , -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50% , -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50% , -50%) rotate(-20deg);
}
h5{
    font-family: 'Gilda' ;
     position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 18px;
    font-weight: 100;
}
#nav2 {
    font-family: 'Gilda' ;
    position: absolute;
    bottom: 5%;
    right: 3%;
}
#nav2 i{
    font-size: 20px;
    border: 1.5px solid #000;
    border-radius: 15px;
    font-weight: 500;
    padding: 5px 16px;
}
#scroll{
    position: absolute;
    bottom: 5%;
    left: 47.5%;
}
#scroll i{
    font-size: 45px;
    font-weight: 500;
    padding: 5px 16px;
}
